<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>video</title>
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <style>
        video {
            width: 640px;
            height: 480px;
        }
    </style>
</head>
<body>
    <div>
        <video data-dashjs-player controls src="/content/{{.VideoId}}/{{.VideoId}}.mpd" type="application/dash+xml"></video>
    </div>
</body>
</html>